header {
    background-color: darkmagenta;
}

h2, h3 {
    background-color: black;
    color: wheat;
    width: 300px; 
    margin: auto;
    padding: 20px;
}

img {
    width: 300px;
    margin: auto;
    display: block;
    padding: 50px;
}
